
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
  /* shared */
  .color-primary{
    color:#FEA301 ;
  }
  /* navbar styles */
  .navbar, .nav-logo, .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo{
    margin-left: 60px;
  }
  .navbar{
    max-width: 1440px;
    margin: 0 auto;
    
  }
  .nav-items{
    list-style: none;
  }
  .items a{
    text-decoration: none;
    margin-right: 40px;
    font-size:20px;
    
  }
  .home{
    
    font-weight: bold;
  }
  .about{
   
    font-weight: 500;
    color:#01ACFD ;

  }
  .facilities{
   
    font-weight: 500;
    color:#05D4DF ;

  }
  .admission{
   
    font-weight: 500;
    color:#5D58EF ;
    

  }
  .logo-name{
    font-size: 32px;
    font-weight: bold;
    color: black;
  }
  .btn-primary{
    background-color:orange;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    padding: 5px 15px;
    margin-right: 120px;


  }
  .banner{
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: left;

  }
  .content{
    max-width: 700px;
    margin-left:60px;
    margin-right:60px;

    text-align: left;
  }

  .banner-img{
    max-width: 100%;
  }
  .banner-title{
    font-size: 56px;
    font-weight: bold;

  }
  .emp{
    color: orange;
  }
  .toward{
    color: #01ACFD;
  }
  .banner-description{
    font-size: 20px;
    font-weight: 400;
  }
  .banner-btn{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 40px;


  }
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    width: 25px;
    height: 3px;
    background-color:orange;
    margin: 4px 0;
}

  @media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;

    }
    
    .banner-title{
        font-size: 32px;
    }
    .logo-name{
        display: none;
    }
    .nav-items,.btn-primary{
        display: none;
    }
    .menu-icon {
        display: flex;
        margin-right: 10px;
    }
   .b-img img{
    
    width: 300px;
   }
   .content{
    max-width: 700px;
    
  

    text-align: center;
  }
  .nav-logo{
    margin-left: 6px;
  }
    
   }
   
        
  